<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SIDEPLAG - Sistem deteksi plagiarisme algoritma manber</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="themify/themify-icons.css">
    <link rel="stylesheet" href="plugins/css/waves.min.css">
    <link rel="stylesheet" href="plugins/css/sweetalert2.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>