<!-- views/partials/menu.ejs -->

<% var title = (typeof title == 'undefined') ? '': title %>

<header class="main-navbar-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top theme-color">
        <div class="menu-toggle-button">
            <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
                <span class="ti-menu"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">SIDEPLAG</a>

        <ul class="navbar-nav ml-auto navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="https://placehold.it/200x200" alt="user-img" width="36" class="img-circle">
                    <b class="d-none d-sm-inline-block">John Doe</b></a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="https://placehold.it/200x200" alt="user"></div>
                            <div class="u-text">
                                <h4>First Last name</h4>
                                <p class="text-muted">user@mail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                        </div>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
</header>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="nav-sidebar">
        <ul class="list-unstyled">
            <li class="<%= (title == 'Homepage') ? 'active': '' %>">
                <a href="/" class="wave-effect">
                    <i class="ti-home m-r-10"></i> Home
                </a>
            </li>
            <li class="<%= (title == 'Users') ? 'active': '' %>">
                <a href="/users" class="wave-effect">
                    <i class="ti-user m-r-10"></i> User
                </a>
            </li>
            <li class="<%= (title == 'Pengujian') ? 'active': '' %>">
                <a href="/pengujian" class="wave-effect">
                    <i class="ti-ruler-pencil m-r-10"></i> Pengujian
                </a>
            </li>
            <li class="<%= (title == 'About') ? 'active': '' %>">
                <a href="/about" class="wave-effect">
                    <i class="ti-info m-r-10"></i> About
                </a>
            </li>
        </ul>
    </nav>