<!-- views/index.ejs -->

<!-- header -->
<%- include ('partials/Header') %>

<body>
<!-- menu -->
<%- include ('partials/menu') %>

    <div class="container content-area">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="card-header m-b-15">
                        <h4>Hi there, Welcome to SIDEPLAG</h4>
                        <p>Sistem deteksi plagiarisme dokumen teks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<%- include ('partials/script') %>

</body>
</html>
